<h1 class="text-2xl sm:text-4xl">
  <span
    class="bg-gradient-to-br from-cyan-300 to-purple-300 bg-clip-text text-transparent box-decoration-clone"
  >
    ✨ Darius ✨
  </span>
</h1>

<h2 class="text-xl sm:text-2xl">
  <span
    class="bg-gradient-to-br from-cyan-300 to-purple-300 bg-clip-text text-transparent box-decoration-clone"
  >
    🚀 A Web Application Template Powered by HTMX + Go Fiber + Tailwind 🚀
  </span>
</h2>

<hr />

<div
  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <h2 class="text-xl sm:text-2xl">Fetch and Swap Demo:</h2>

  <button
    class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
    hx-get="/api/hello"
    hx-trigger="click"
    hx-target="#hello"
    hx-swap="outerHTML"
  >
    Click Me!
  </button>

  <p id="hello"></p>
</div>

<div
  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <h2 class="text-xl sm:text-2xl">Websocket Count Demo:</h2>

  <div class="flex-row flex gap-2 items-center justify-center text-center">
    <button
      class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      hx-get="/api/countminus"
      hx-trigger="click"
      hx-swap="none"
    >
      -</button
    ><button
      class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      hx-get="/api/countplus"
      hx-trigger="click"
      hx-swap="none"
    >
      +
    </button>
  </div>

  <div hx-ext="ws" ws-connect="/ws">
    <p
      hx-get="/api/count"
      hx-trigger="load"
      hx-target="this"
      hx-swap="outerHTML"
      id="countfromserver"
    >
      0
    </p>
  </div>
</div>

<div
  class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <h2 class="text-xl sm:text-2xl">Basic JWT Auth Demo:</h2>

  <form
    hx-get="/api/loginform"
    hx-trigger="load"
    hx-target="this"
    hx-swap="outerHTML"
    id="loginform"
  ></form>
</div>
